<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.apartment_finder2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/appdefaulticon_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ChatBot"></activity>
        <activity android:name=".FavoritesList" />
        <activity android:name=".Extendfavorites" />
        <activity android:name=".loanCalculation" />
        <activity android:name=".NewFrontGui" />
        <activity android:name=".SeeForm" />
        <activity android:name=".icchamoto" />
        <activity android:name=".CustomizeSearch" />
        <activity android:name=".FeedbackForm" />
        <activity android:name=".NewSubmission" />
        <activity android:name=".Map" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".VieePagerGlide" />
        <activity android:name=".ValidityList" />
        <activity android:name=".AdminUi" />
        <activity android:name=".UserUi" />
        <activity android:name=".Chattting" />
        <activity android:name=".NotValidYet" />
        <activity android:name=".SendValidityEmail" />
        <activity android:name=".CheckValidationForm" />
        <activity android:name=".waiting" />
        <activity android:name=".Admin" />
        <activity android:name=".ValidationForm" />
        <activity
            android:name=".AdLogIn"
            android:label="@string/title_activity_ad_log_in"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Register" />
        <activity
            android:name=".ForgetPassword"
            android:label="@string/title_activity_forget_password"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProfileOfUser"
            android:label="@string/title_activity_profile_of_user"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ExtendSearch"
            android:label="@string/title_activity_extend_search"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Search"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Advertisement" />
        <activity
            android:name=".Login"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service
            android:name=".MessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!--
 Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/appdefaultico" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
    </application>

</manifest>